:root {

}
@font-face {
    font-family: logo;
    src: url(./assets/Sunkids_Demo.ttf);
}

body,
html {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
font-size: 1.3rem;
}
.dark-mode {
background-color: black;
color: orange;
}
.light-mode {
background-color: #fff;
color: green;
}

#body-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 160px 60px 1fr;
}
#header-container {
    grid-column: 1 /3;
    font-family: logo;
    font-size: 2rem;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding-left: 100px;

    
}
#overview-container {
    grid-column: 3 /4;
    grid-row: 1;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;



}
#overview-container p {
padding: 0;
margin: 5px 10px;

}

#output-header {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
column-gap: 10px;
padding-left: 30px;
}
#output-header button {
    font-size: 1rem;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}
#theme-selector button {
background-color: inherit;
color: inherit;
border: 1px solid  rgb(102, 19, 102);

}


#output {
    grid-row: 3;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 300px);
padding: 5%;
height: auto;
grid-gap: 40px;
border-top: 10px solid rgb(102, 19, 102);
margin-top: 5px;
}
.card-item {
    position: relative;
    border: 3px solid  rgb(102, 19, 102);
    border-radius: 30px;
text-align: center;
padding-left: 15%;
}
.card-item .remove-btn {
border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.checkbox-container {
    position: absolute;
    bottom:  20px;
    right: 20px;
    display: inline-block;

}
label,
input {
    cursor: pointer;
}
.checkbox-container input {    
    width: 20px;
    height: 20px;
background-color: orange;

}

.checked {
    background-color: rgb(2, 109, 2);
}
.unchecked {
    background-color: rgb(154, 147, 147);
    color: black;
}

#my-dialog {
background-color: inherit;
color: inherit;


}
#my-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    color: white;
    height: 80vh;
    width: 40vw;
font-size: 2rem;    
background-color: inherit;
color: inherit;
}
.form-control-wrapper {
    display: grid;

}
#my-form input,
button {
    background-color: inherit;
color: inherit;
    border: 1px solid gray;
    border-radius: 5px;
font-size: 2rem;
}

#add-new-book{
background-color: rgb(102, 19, 102);;
border-radius: 50%;
position: fixed;
bottom: 40px;
right: 40px;
height: 100px;
width: 100px;

}
